<h1 class="text-center">Las  últimas licitaciones</h1>

<div class="row">
<% @licitaciones.each do |licitacion| %>
    <div class="col-3">
        <h3><%=licitacion.titulo%></h3>
        <p><%=licitacion.descripcion%></p>
        <%= link_to "Ver Detalles", licitacion_path(licitacion) %>
    </div>
<% end %>
</div>